/* Variables */
:root {
  --primary-color: rgba(206, 14, 45, 1);
  --secondary-color: rgba(225, 225, 225, 1);
}
/* Variables end */

html, body { /* Para corregir el desbordamiento que causo la libreria AOS.js */
 overflow-x: hidden
}

body {
  font-family: 'Roboto'; 
  font-weight: 300; 
  font-style: normal;
  font-size: 16px;
}

a {
	text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

.transition{
  -webkit-transition: all ease-in-out .3s; /* Safari */
  transition: all ease-in-out .3s;
}

/* Buttones */
button,
.btn-primary {
  color: var(--primary-color);
  background-color: white;
  font-weight: 300;
  border-color: var(--primary-color);
  padding: 5px 30px;
  border-radius: 0;
}

.btn-check:focus + .btn-primary, .btn-primary:focus,
.btn-check:active + .btn-primary, .btn-check:checked + .btn-primary, 
.btn-primary.active, .btn-primary:active, .show > .btn-primary.dropdown-toggle,
.btn-check:active + .btn-primary:focus, .btn-check:checked + .btn-primary:focus, 
.btn-primary.active:focus, .btn-primary:active:focus, .show > 
.btn-primary.dropdown-toggle:focus {
  color: var(--primary-color);
  background-color: white;
  border-color: var(--primary-color);
  box-shadow: none;
}

.btn:focus {
  box-shadow: none;
}

.btn-primary:hover {
  border-color: transparent!important;
  background: var(--primary-color);
  color: white;
}
/* Buttones end */

#app {
  position: relative;
}

/* Módulo Contacto */
.modulo_contacto {
  margin-bottom: 60px;
}

.modulo_contacto h3 {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 1.75rem;
}

.modulo_contacto h3 span {
  font-weight: 700;
}

.modulo_contacto .form-control {
  border-radius: 0;
  margin-bottom: 15px;
  border-color: var(--primary-color);
}

.modulo_contacto .form-control:focus {
  border-color: var(--secondary-color);
  box-shadow: none;
}

.modulo_contacto input::placeholder,
.modulo_contacto textarea::placeholder {
   text-align: center; 
   color: var(--primary-color);
}

.modulo_contacto .invalid-feedback {
  margin-bottom: 15px;
  margin-top: -15px;
  font-size: 0.75rem;
}

.modulo_contacto .content_button {
  text-align: right;
}

.modulo_contacto .content_button #spinner {
  display: none;
}

.modulo_contacto .alert-success {
  color: var(--primary-color);
  background: var(--secondary-color);
  border-color: grey;
}
/* Módulo Contacto end */

/* MEDIA QUERIES */
@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}

@media (min-width: 1600px) {

}





