/* Variables */
:root {
  --primary-color: rgba(206, 14, 45, 1);
  --secondary-color: rgba(225, 225, 225, 1);
}
/* Variables end */

html, body { /* Para corregir el desbordamiento que causo la libreria AOS.js */
 overflow-x: hidden
}

body {
  font-family: 'Roboto'; 
  font-weight: 300; 
  font-style: normal;
  font-size: 16px;
}

a {
	text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

.transition{
  -webkit-transition: all ease-in-out .3s; /* Safari */
  transition: all ease-in-out .3s;
}

/* Buttones */
button,
.btn-primary {
  color: var(--primary-color);
  background-color: white;
  font-weight: 300;
  border-color: var(--primary-color);
  padding: 5px 30px;
  border-radius: 0;
}

.btn-check:focus + .btn-primary, .btn-primary:focus,
.btn-check:active + .btn-primary, .btn-check:checked + .btn-primary, 
.btn-primary.active, .btn-primary:active, .show > .btn-primary.dropdown-toggle,
.btn-check:active + .btn-primary:focus, .btn-check:checked + .btn-primary:focus, 
.btn-primary.active:focus, .btn-primary:active:focus, .show > 
.btn-primary.dropdown-toggle:focus {
  color: var(--primary-color);
  background-color: white;
  border-color: var(--primary-color);
  box-shadow: none;
}

.btn:focus {
  box-shadow: none;
}

.btn-primary:hover {
  border-color: transparent!important;
  background: var(--primary-color);
  color: white;
}
/* Buttones end */

#app {
  position: relative;
}

/* Lineas Generales */
.nuestros_sistemas .horizontal {
  display: none;
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 30px;
  z-index: 2;
}

.nuestros_sistemas .horizontal i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: white;
  overflow: hidden;   
}

.nuestros_sistemas .horizontal i::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, var(--primary-color), #f6b1a6, var(--primary-color), #f6b1a6, var(--primary-color));
  animation:  animate 4s linear infinite; 
}
/* Lineas Generales end */

/* Nuestros Sistemas */
.nuestros_sistemas {
  margin-bottom: 60px;
}

.nuestros_sistemas h2 {
  font-size: 2rem;
  font-weight: 300;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 30px;
}

.nuestros_sistemas .content_productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nuestros_sistemas .content_productos .producto {
  text-align: center;
  max-width: 40%;
  margin-bottom: 40px;
}

.nuestros_sistemas .content_productos .producto:last-child {
  margin-bottom: 0;
}

.nuestros_sistemas .content_productos .producto a:hover img {
  opacity: 0.6;
}

.nuestros_sistemas .content_productos .producto h3 {
  font-size: 1.125rem;
  margin-top: 7px;
  margin-bottom: 0;
  color: var(--primary-color);
}
/* Nuestros Sistemas end */

/* Arquitectos & Distribuidores */
.arq_dist {
  background: var(--secondary-color);
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 60px;
}

.arq_dist .content {
  text-align: center;
  margin-bottom: 45px;
}

.arq_dist .content:last-child {
  margin-bottom: 0;
}

.arq_dist h3 {
  font-weight: 300;
  color: var(--primary-color);
  font-size: 2rem;
}

.arq_dist .btn-primary {
  background: transparent!important;
}

.arq_dist .btn-primary:hover {
  color: white!important;
  background: var(--primary-color)!important;
}
/* Arquitectos & Distribuidores end */

/* Módulo Contacto */
.modulo_contacto {
  margin-bottom: 60px;
}

.modulo_contacto h3 {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 1.75rem;
}

.modulo_contacto h3 span {
  font-weight: 700;
}

.modulo_contacto .form-control {
  border-radius: 0;
  margin-bottom: 15px;
  border-color: var(--primary-color);
}

.modulo_contacto .form-control:focus {
  border-color: var(--secondary-color);
  box-shadow: none;
}

.modulo_contacto input::placeholder,
.modulo_contacto textarea::placeholder {
   text-align: center; 
   color: var(--primary-color);
}

.modulo_contacto .invalid-feedback {
  margin-bottom: 15px;
  margin-top: -15px;
  font-size: 0.75rem;
}

.modulo_contacto .content_button {
  text-align: right;
}

.modulo_contacto .content_button #spinner {
  display: none;
}

.modulo_contacto .alert-success {
  color: var(--primary-color);
  background: var(--secondary-color);
  border-color: grey;
}
/* Módulo Contacto end */

/* MEDIA QUERIES */
@media (min-width: 576px) {

  /* Nuestros Sistemas */
  .nuestros_sistemas .content_productos .producto {
    max-width: 30%;
  }
  /* Nuestros Sistemas end */

}

@media (min-width: 768px) {

  /* Lineas Generales */
  .nuestros_sistemas .horizontal {
    display: inline-block;
  }
  /* Lineas Generales end */

  /* Nuestros Sistemas */
  .nuestros_sistemas {
    position: relative;
    padding-top: 30px;
    margin-bottom: 30px;
  }

  .nuestros_sistemas .horizontal {
    display: inline-block;
    top: 0;
  }

  .nuestros_sistemas .content_productos .producto {
    max-width: 20%;
  }

  .nuestros_sistemas .content_productos .producto h3 {
    font-size: 1rem;
  }
  /* Nuestros Sistemas end */

  /* Arquitectos & Distribuidores */
  .arq_dist .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }

  .arq_dist .content {
    align-items: flex-end;
    text-align: right;
    padding-right: 30px;
  }

  .arq_dist .content:last-child {
    align-items: flex-start;
    text-align: left;
    padding-left: 30px;
  }
  /* Arquitectos & Distribuidores end */

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

  /* Nuestros Sistemas */
  .nuestros_sistemas h2 {
    font-size: 3rem;
  }

  .nuestros_sistemas .content_productos .producto h3 {
    font-size: 1.25rem;
  }
  /* Nuestros Sistemas end */

  /* Arquitectos & Distribuidores */
  .arq_dist {
    background: var(--secondary-color);
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .arq_dist h3 {
    font-size: 3rem;
    margin-bottom: 20px;
  }

  .arq_dist p {
    font-size: 1.25rem;
  }

  .arq_dist a {
    font-size: 1.25rem;
  }
  /* Arquitectos & Distribuidores end */

}

@media (min-width: 1400px) {

}

@media (min-width: 1600px) {

}





